<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if user_signed_in? %>
      <div><%= link_to "Sing_out", destroy_user_session_path, method: :destroy %></div>
    <% end %>
    </nav>
    <% flash.each do |name, message| %>
      <div class='<%= name %>'><%= message %></div>
    <% end %>
      
    <%= yield %>
  </body>
</html>
